# express
PORT=8000
DEBUG=1 # if 1 development mode

# redis
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_DB_NUMBER=0
REDIS_PORT=6379
GUARDIAN_SECTION_CACHE_EX_TIME_MIN=10

GUARDIAN_API_KEY=9d97b471-ee1c-473a-b293-7998a92c4182

# postgres
POSTGRES_HOST=psql-kotuko
POSTGRES_DB=kotuko_task
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_URL=postgresql://postgres:postgres@psql-kotuko:5432/kotuko_task


